<h1>About</h1>
<p>
	I'm an environmental, entrepreneur and beginner cellist.
	<p>
	<%= link_to "Facebook", "https://www.facebook.com/tichesley" %>
	<p>
	<%= link_to "Twitter", "https://www.twitter.com/tichesley" %>
	<p>
	<%= link_to "Instagram", "https://www.twitter.com/tichesley" %>
	<p>
	<%= link_to "Quora", "www.quora.com/Ti-Chesley" %>