<div class="hero-unit">
Hi! I'm an entrepreneur and environmentalist, and I live in the West Village of New York City. Oh, sometimes I stay with beautiful girlfriend in Queens.
<p>

<p>

<p> <%= link_to 'Sign up',  new_user_registration_path , class: "btn btn-large btn-info" %> </p>

</div>
